<nav class="navbar">
    <div class="container nav-content">
        <a routerLink="/" class="logo">
            <div class="logoimg"><img src="logo.png" alt="" ></div>
            <p>Hand<span class="text-gradient">4Pal</span></p>
        </a>

        <div class="nav-links">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            <a routerLink="/campaigns" routerLinkActive="active">Campaigns</a>
            <a routerLink="/login" class="btn btn-outline btn-sm">Login</a>
            <a routerLink="/register" class="btn btn-primary btn-sm">Start Fundraising</a>
        </div>
    </div>
</nav>