.navbar {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 1rem 0;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -0.5px;
}
.logoimg img {
    height: 40px;
    width: 40px;
    display: block;
}
.nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-links a:not(.btn) {
    font-weight: 500;
    color: var(--light-text);
    position: relative;
}

.nav-links a:not(.btn):hover,
.nav-links a.active {
    color: var(--primary-color);
}

.btn-sm {
    padding: 0.5rem 1.25rem;
    font-size: 0.9rem;
}

a{
    display: flex;
}